<div class="container">
<div class="row">
<div class="col-md-3">
<h1>User info</h1>
<%= attachment_image_tag @user, :profile_image, size:'63x63', fallback: "no_image.jpg" %>
<table class="table">
 <tbody>
     <tr>
         <th>name</th>
         <th><%= @user.name %></th>
     </tr>
     <tr>
         <th>introduction</th>
         <th><%= @user.introduction %></th>
     </tr>
 </tbody>
</table>
<div class="row">
    <%= link_to "", edit_user_path(@user.id) , class:"btn btn-outline-secondary btn-block fas fa-user-cog" %>
</div>
<h1>New book</h1>
<%= form_with model: @book, url:'/books', local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %>
<%= f.submit 'Create Book', class:"btn  btn-success"  %>
<% end %>
</div>